* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER PART START */
header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 35px;
  color: tomato;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
}

header .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-bar>ul {
  list-style: none;
  display: flex;
}

header .nav-bar>ul>li {
  text-align: center;
  float: left;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

header .nav-bar>ul>li>a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
}

header .nav-bar>ul>li a:hover {
  color: dodgerblue;
  transition: all ease-in 0.3s;
}

/* header .nav-bar ul ul {
    display: none;
    position:absolute;
  } */
header .nav-bar>ul>li:hover>ul {
  display: block;
}

header .icn i {
  font-size: 25px;
  padding: 0px 20px;
}

header .icn i:hover {
  color: dodgerblue;
  transition: all ease-in 0.3s;
}

/* HEADER PART END */

/* MIDDLE PART START */

.container {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

.entry {
  position: absolute;
  left: 90px;
  top: 120px;
}

.entry a {
  text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: dodgerblue;
  letter-spacing: 1;
  font-size: 2rem;
  display: block;

  width: 0ch;
  white-space: nowrap;
  overflow: hidden;
  animation: text 6s steps(22) infinite;
  border-right: 2px solid dodgerblue;
}

@keyframes text {
  0% {
    width: 0ch;
  }

  50% {
    width: 22ch;
  }
}

.searchArea {
  position: fixed;
  right: 90px;
  top: 130px;
  padding-right: 12px;
  width: 190px;
  height: 50px;
  background-color: FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10% 10% 10% 10%/ 50% 50% 50% 50%;
  box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
  box-sizing: border-box;
  z-index: 1;
  border: 1px solid rgba(167, 158, 245, 0.1);
}

.searchBox input {
  width: 110px;
  height: 20px;
  padding-right: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #1F1F1F;
  font-size: 1rem;
  padding: 10px 20px;
}

.searchBox input::placeholder {
  color: #1D1D1D;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 0.95rem;
  font-family: poppins;

}

.sec1 {
  position: absolute;
  left: 15%;
  top: 80%;
  transform: translate(-15%, -80%);
}

.sec1 img {
  height: 500px;
}

.sec1Button {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-60%, -80%);
}

.sec1Button h1 {
  font-weight: bold;
  margin: 0px;
  line-height: 60px;
  font-size: 4rem;
  letter-spacing: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  color: #1D1D1D;
  text-transform: uppercase;
}

span {
  color: dodgerblue;
}

.btn {
  width: 150px;
  height: 50px;
  background-color: #2f2e41;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
  margin-top: 20px;
  color: #fff;
  font-family: calibri;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: transparent !important;
}

.btn:hover {
  color: white;
  background-color: dodgerblue;
  transition: all ease 0.5s;
}

.iconArea {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  padding: 5px 2px;
  z-index: 1;
}

.iconArea a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}

.iconArea a i {
  color: rgba(39, 39, 39, 0.80);
  padding: 6px;
}


.iconArea a:hover .fa-facebook-f {
  color: #3b5998;
}

.iconArea a:hover .fa-twitter {
  color: #00acee;
}

.iconArea a:hover .fa-instagram {
  color: #3f729b;
}

.iconArea a:hover .fa-youtube {

  color: #FF0000;
}


/* MIDDLE PART END  */


/* Product part start */
.ProductSection{
  width: 85%;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	display: flex;
	margin:30px auto;
	flex-direction: column;
	align-items: center;
	padding:40px 20px;
	margin-top: -60px;
	position: relative;
	background-size:1000px;
	border-radius: 10px;
}

.ProductSection > h3{
	margin:20px;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
	font-family: myriad pro;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	font-size:2rem;
	color:#323543;
}
.Product{
  display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}
.ProductBox{
  width:300px;
	height: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;
	position: relative;
	margin: 10px 30px;
}
.ProductBox img{
  height: 200px;
}
.ProductBox p{
  color:#1F1F1F;
	font-family: myriad pro;
	font-size: 0.9rem;
	letter-spacing: 0.5;
}
.ProductBox a{
  color:#2c2c2c;
	font-family: poppins;
	font-size: 1rem;
}

.Buybtn{
  position: absolute;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:calibri;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background:linear-gradient(120deg,dodgerblue 20%,dodgerblue);
	color:#FFFFFF;
	display: none;
	animation: fade 0.2s;
}

.ProductBox:hover .Buybtn{
	display: flex;
}
.ProductBox:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

.ProductBox:hover a:last-child{
	color: #fff;
	transition: all ease 0.3s;
	
}



/* Product part end */

.about{
	/* display: flex; */
  display: grid;
  grid-template-columns: auto auto;
	width: 85%;
	margin:50px auto;
	justify-content: space-around;
	align-items: center;
	padding:30px;
	margin-bottom: 150px !important;
}
.aboutbox img{
	width:100%;
	height: 100%;
	object-fit:contain;
}

.aboutbox h1{
	color:#333333;
	font-weight: 700;
	font-size:3rem;
	margin:0px;
}
.aboutbox h4{
	color: #333333;
	font-weight: 400;
	font-size:2rem;
	margin-top: 10px;
	margin-bottom: 10px;
}


.aboutbox p{
	font-size: 1rem;
	color:gray;
	letter-spacing: 0.5px;

}

.form_container{
  height: 800px;
  width: 800px;
  margin: 50px auto;
  /* padding: 100px auto; */
}
.form_container form{
  height: 500px;
  width: 800px;
  margin:auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  text-transform: capitalize;
  background-color: #00acee;
}

.form_container form h3{
  text-align: center;
  font-size: 2.5rem;
  font-style: oblique;
}
.form_container form label{
  font-size: 3.5rem;
  padding: 3px 0;
  margin: 5px 0 5px 0;
}

.form_container form input, textarea{
  padding: 8px;
  border-radius: 20px;
  margin: 5px 0 5px 0;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  font-size:1rem;
}

.form_container form input[type="button"]{
  align-self: flex-end;
  height: 30px;
  width: 60px;
  font-size: 90%;
}

footer{
  background-color: #1D1D1D;
  padding: 20px;
}
footer p{
  text-align: center;
  color: #FFFFFF;
}



